<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" dir="{% if LANGUAGE_BIDI %}rtl{% else %}ltr{% endif %}" xml:lang="{{ LANGUAGE_CODE }}" lang="{{ LANGUAGE_CODE }}">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="Content-Style-Type" content="text/css" />
    <link type="text/css" rel="stylesheet" href="/css/bootstrap.css"/>
    <link type="text/css" rel="stylesheet" href="/css/main.css"/>
    <script type="text/javascript" src="/js/jquery-1.8.3.min.js"></script>
    <script type="text/javascript" src="/js/main.js"></script>
    {% block extra_header %}
    {% endblock %}
    <title>{% block headertitle %}{% endblock %}</title>
</head>
<body class="{% block body-class %}{% endblock %}">
<div id="contents">
    <div class="clearfix">
        {% block main %}{% endblock %}
    </div>
    <address><small class="pull-right"><a href="mailto:{{CONTACT_EMAIL}}?subject=お問い合わせ">contact</a></small></address>
</div>
<div id="alert" class="flash-container" style="display:block;"></div>
</body>
</html>
